/* RESPONSIVE */

@media only screen and (max-width: 40rem) {
    /* 640px */
    .container .nav-btn-red {
        display: none;
    }
    .btn-full {
        display: block !important;
    }
    .result-table div {
        width: 100% !important;
    }
    .status div {
        width: 100% !important;
        text-align: left !important;
    }
}